@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap") * {
  box-sizing: border-box;
}

body {
  background-color: #0c0c0c;
  color: #e3fef7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

div h1 {
  padding: 10px 15px;
  font-size: 90px;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 26px;
  width: 32px;
  margin: 3px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: green;
}

.seat.sold {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.text {
  margin-top: 20px;
}

/* New styles for theme select button */
.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Dark mode styles */
.dark-mode {
  background-color: #0c0c0c;
  color: #e3fef7;
}

.dark-mode .theme-toggle {
  color: #fff;
}

/* Light mode styles */
.light-mode {
  background-color: #f0f0f0;
  color: #333;
}

.light-mode .theme-toggle {
  color: #333;
}

/* Toggle switch styles */
.toggle-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
}

.toggle-wrapper .toggle {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}

.toggle-wrapper .toggle input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-wrapper .toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-wrapper .toggle .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-wrapper .toggle input[type="checkbox"]:checked + .slider {
  background-color: #2196f3;
}

.toggle-wrapper .toggle input[type="checkbox"]:checked + .slider:before {
  transform: translateX(26px);
}
